<!DOCTYPE html>
<html>

<head>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />


        <title>Amazon Offerte2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/material.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/material.indigo-pink.min.css">

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
                        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                        </div>
                        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                                <h3>Amazon Offerte</h3>
                        </div>
                        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                        </div>
                        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                                <a href="#overview" class="mdl-layout__tab is-active">Offerte attive</a>
                                <a href="#overview" class="mdl-layout__tab">Offerte in arrivo</a>
                                <a href="#overview" class="mdl-layout__tab">Offerte Terminate</a>
                                <a href="#overview" class="mdl-layout__tab">Monitora prodotto</a>
                                <a href="#faw" class="mdl-layout__tab">FAQ</a>

                        </div>
                </header>
                <main class="mdl-layout__content">
                        <div class="mdl-layout__tab-panel is-active" id="overview">


<div id="lista-offerte" al-repeat="item in list">
      <div class="mdl-cell mdl-cell--4-col">
          

                                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

    <header class="section__play-btn mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
                                                <i class="material-icons">play_circle_filled</i>
                                        </header>
                                        <div class="mdl-card mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                                                <div class="mdl-card__supporting-text">
                                                        <h4>{{item.title}}</h4> {{item.description}}
                                                </div>
                                                
                                        </div>
                                        <div class="mdl-card__actions text-center">
                                                        <a href="#" class="mdl-button center">Visualizza offerta</a>
                                                </div>
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
              <i class="material-icons">more_vert</i>
            </button>
                                        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
                                                <li class="mdl-menu__item">Lorem</li>
                                                <li class="mdl-menu__item" disabled>Ipsum</li>
                                                <li class="mdl-menu__item">Dolor</li>
                                        </ul>
                                </section>


      </div>
</div>      
 


                               
                                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                                        <div class="mdl-card mdl-cell mdl-cell--12-col">
                                                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                                                        <h4 class="mdl-cell mdl-cell--12-col">Prodotti</h4>
                                                        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                                                <div class="section__circle-container__circle mdl-color--primary"></div>
                                                        </div>
                                                        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                                                <h5>Titolo prodotto 1</h5> descrizione prodotto bellissimo descrizione prodotto bellissimo descrizione prodotto bellissimo descrizione prodotto bellissimo
                                                        </div>
                                                        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                                                <div class="section__circle-container__circle mdl-color--primary"></div>
                                                        </div>
                                                        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                                                <h5>Titolo prodotto 2</h5> descrizione prodotto bellissimo descrizione prodotto bellissimo descrizione prodotto bellissimo descrizione prodotto bellissimo
                                                        </div>
                                                        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                                                <div class="section__circle-container__circle mdl-color--primary"></div>
                                                        </div>
                                                        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                                                <h5>Titolo prodotto 3</h5> descrizione prodotto bellissimo descrizione prodotto bellissimo descrizione prodotto bellissimo descrizione prodotto bellissimo
                                                        </div>
                                                </div>
                                                <div class="mdl-card__actions">
                                                        <a href="#" class="mdl-button">Visualizza offerte Tecnologia</a>
                                                </div>
                                        </div>
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
              <i class="material-icons">more_vert</i>
            </button>
                                        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
                                                <li class="mdl-menu__item">Lorem</li>
                                                <li class="mdl-menu__item" disabled>Ipsum</li>
                                                <li class="mdl-menu__item">Dolor</li>
                                        </ul>
                                </section>





                                <section class="section--footer mdl-color--white mdl-grid">
                                        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                                <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
                                        </div>
                                        <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                                <h5>Prodotto</h5> bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                        </div>
                                        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                                <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
                                        </div>
                                        <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                                <h5>Prodotto</h5> bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla bla bla bla
                                        </div>
                                </section>
                                </div>





                                <div class="mdl-layout__tab-panel" id="faq">
                                        <section class="section--center mdl-grid mdl-grid--no-spacing">
                                                <div class="mdl-cell mdl-cell--12-col">
                                                        <h4>FAQ</h4> Siamo Bravi non rubiamo niente
                                                </div>
                                        </section>
                                </div>







                                <footer class="mdl-mega-footer">
                                        <div class="mdl-mega-footer--middle-section">
                                                <div class="mdl-mega-footer--drop-down-section">
                                                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                                                        <h1 class="mdl-mega-footer--heading">Menu</h1>
                                                        <ul class="mdl-mega-footer--link-list">
                                                                <li><a href="#">1</a></li>
                                                                <li><a href="#">2</a></li>
                                                                <li><a href="#">3</a></li>
                                                                <li><a href="#">4</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </footer>



                </main>
                </div>
                <script src="js/jquery-2.2.1.min.js"></script>
                <script src="js/material.min.js"></script>
                <script src="js/alight_0.12.last.min.js"></script>


<script type="">
    

$.ajax({
    url: 'http://104.233.80.61/amazon/',
    success: function(data) {
         
         alight.controllers.main = function(scope) {
  scope.list = data;
};
    },
    error: function(error) {
         console.log(error.message);
    }
});



</script>


</body>

</html>
